<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.shangtheme.client.dao.RecommendationDao">
 	
 	
 	<!-- 获取收藏信息 -->
 	<select id="doRecommendation" resultType="map">
 		SELECT t_themename , t_picpath , t_id 
		FROM   theme
		WHERE   t_status = 0 
		ORDER BY  t_registerdate DESC LIMIT 0,8
 	</select>
 	
 	<insert id="registAd" parameterType="com.shangtheme.client.entity.Ad">
 	INSERT INTO ad
						(ad_href,
						picpath,
						registtime)
	VALUES(
					#{ad_href},
					#{picpath},
					#{registtime}
	);
  </insert>
	
  <delete id="emptyAd">
  		DELETE FROM ad
  </delete>
	
	<select id="getCarouselAdMsg" resultType="map">
		SELECT ad_href,picpath
		FROM ad
	</select>
	
</mapper>
 
 